header {
    background-color : turquoise;
    width: 100%;
    height: 100px;
}
nav {
    background-color : fuchsia;
    width: 20%;
    height: 250px;
}
section {
    width: 70%;
    height: 400px; 
    background-color: blueviolet;
}
article {
    width: 70%;
    height: 300px; 
    background-color: blue;
}
aside {
    height: 125px; 
    background-color:paleturquoise;
}
footer {
    width: 100%;
    height: 100px; 
    background-color:rgb(66, 248, 10);
}
.navETsection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.articleETaside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aside {
    
    display: flex;
    flex-direction: column;
    align-items: space-around;
}